.grid-container {
    display: grid;
    grid-template-areas:
    'header header header header header header'
    'main main main main right right';
    grid-gap: 10px;
}

.header{
    grid-area: header;
}

.main {
    grid-area: main;
    display: block;
    margin: auto;
    width:650px;
    
}

.right{
    grid-area: right;
}


